.legend-panel {
  position: fixed;
  top: 0;
  left: -25px;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  max-height: 600px;
  max-width: 200px;
  z-index: 9999;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: scale(0.7);
}

.legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-left: 0px;
}

.legend-icon {
  margin-right: 5px;
  transform: scale(0.8);
}
